<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<div th:replace="~{fragments/head :: logo}">

</div>
<div class="container">
    <div th:replace="~{fragments/jumbotron :: pageTitle('My Orders')}">

    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between mb-3">


        <div class="navbar-nav">
            <a  th:classappend="${status} == null ? 'active'" class="nav-link active" aria-current="page" href="/home">All</a>
            <a th:classappend="${status} == 'processing' ? 'active'" class="nav-link" href="/home/processing">Processing</a>
            <a th:classappend="${status} == 'shipped' ? 'active'" class="nav-link" href="/home/shipped">Shipped</a>
            <a th:classappend="${status} == 'delivered' ? 'active'" class="nav-link" href="/home/delivered" >Delivered</a>
        </div>
        <button class="btn btn-outline-secondary" type="submit">New</button>
    </nav>

    <div class="card mt-3" th:each="order : ${orders}">
        <th:block th:switch="${order.status.name()}">
            <div th:case="'PROCESSING'" class="card-header alert-warning" th:text="${order.productName}">Product name</div>
            <div th:case="'SHIPPED'" class="card-header alert-success" th:text="${order.productName}">Product name</div>
            <div th:case="'DELIVERED'" class="card-header alert-dark" th:text="${order.productName}">Product name</div>
        </th:block>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-3">
                    <div class="row">
                        <div class="col-md-5">Price: <span th:text="${#numbers.formatCurrency(order.price)}">200.99</span></div>
                        <div class="col-md-7">Delivery date: <span th:text="${#temporals.format(order.deliveryDate, 'dd/MM/yyyy')}">10/02/2020</span>
                        </div>
                    </div>

                    <div>Product</div>
                    <div><input class="form-control" th:value="${order.urlProduct}" value="product url"/></div>

                    <div>Description</div>
                    <div>
                        <textarea class="form-control" th:text="${order.description}"></textarea>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <div>
                        <img class="img-thumbnail" th:src="${order.urlImages}" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>